<div class="grid">

    <div class="right-side">

            <header class="right-header">
              <h1>
                Stay informed and to be first to benefit from this new experience
              </h1>
            </header>

      <div class="sign-area">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="facebook-btn">
          <a href="/google" id="Facebook-link">Sign up with Facebook</a>
        </button>

        <button type="button" class="btn btn-success btn-lg btn-block" id="google-btn">
          <a href="/google" id="google-link">Sign up with google</a>
        </button>

      </div>


      </div>




        <section class="left-side">
            <header class="header">
              <h1>THE ONLY ONLINE SHOPPING EXPERIENCE  WERE YOU SET THE PRICE</h1>
              <p>THIS IS WHAT WELL BE TRINIDAD'S FIRST ONE STOP AND ONLINE SHOPPING AND TRADE</p>
            </header>


        </section>

  </div>
