<!DOCTYPE html>
<html>
<head>
<title>Landing Page
</title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style type="text/css">
							html, body, div, span, applet, object, iframe,
					h1, h2, h3, h4, h5, h6, p, blockquote, pre,
					a, abbr, acronym, address, big, cite, code,
					del, dfn, em, img, ins, kbd, q, s, samp,
					small, strike, strong, sub, sup, tt, var,
					b, u, i, center,
					dl, dt, dd, ol, ul, li,
					fieldset, form, label, legend,
					table, caption, tbody, tfoot, thead, tr, th, td,
					article, aside, canvas, details, embed, 
					figure, figcaption, footer, header, hgroup, 
					menu, nav, output, ruby, section, summary,
					time, mark, audio, video {
						margin: 0;
						padding: 0;
						border: 0;
						font-size: 100%;
						font: inherit;
						vertical-align: baseline;
					}
					/* HTML5 display-role reset for older browsers */
					article, aside, details, figcaption, figure, 
					footer, header, hgroup, menu, nav, section {
						display: block;
					}
					body {
						line-height: 1;
					}
					ol, ul {
						list-style: none;
					}
					blockquote, q {
						quotes: none;
					}
					blockquote:before, blockquote:after,
					q:before, q:after {
						content: '';
						content: none;
					}
					table {
						border-collapse: collapse;
						border-spacing: 0;
					}
	</style>
<link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>


<section class="main">
<div class="container">
	<div class="row">	

		<div class="col-xs-8 col-md-8">	

		</div>
    <div class="col-xs-4 col-md-4">

			<div class="message-group">
				<h1>Thank for your time </h1>
			  	<blockquote>
			    <p>We look forward to feedback to shape 
			what will one be stop and shop of on-line shopping </p>
				    <footer >
			    	<a type="button" href="#" class="btn btn-primary btn-block">
			    	Visit us on Facebook</a>
				    	
				 </footer>
			</div>

		</div>
	</div>

	</div>

	







</section>

<script src="js/bootstrap.min.js"></script>
</body>
</html>

<!-- 

We look forward to feedback to shape 
what will one stop and shop of online shopping 
 -->